# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production builds
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Database
*.db
*.db-shm
*.db-wal

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 